Django>=5.1,<6
djangorestframework>=3.15,<4
django-allauth[socialaccount]>=65.0,<66
django-cors-headers>=4.6,<5
psycopg2-binary>=2.9,<3
python-dotenv>=1.0,<2
Pillow>=11.0,<12
drf-spectacular>=0.28,<1
gunicorn>=22.0,<23
whitenoise[brotli]>=6.8,<7
dj-database-url>=2.3,<3
